<!-- <!DOCTYPE html>
<html>
<head>
    <title>Weather App</title>
</head>
<body>
    <form method="post">
        <input type="text" name="city" placeholder="Enter city" required>
        <input type="submit" value="Get Weather">
    </form>

    {% if weather_data %}
        <h1>Weather in {{ weather_data.city }}</h1>
        <h2>{{ weather_data.temperature }}°K</h2>
        <p>{{ weather_data.description }}</p>
        <img src="http://openweathermap.org/img/w/{{ weather_data.icon }}.png" alt="{{ weather_data.description }}">
    {% elif city %}
        <h2>Weather data not found for {{ city }}</h2>
    {% endif %}
</body>
</html>
   -->

   <!DOCTYPE html>
<html>
<head>
  <title>Weather App</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
  <div class="container">
    <h1>Weather App</h1>
    <form method="post">
      <input type="text" name="city" placeholder="Enter city name">
      <button type="submit">Get Weather</button>
    </form>

    {% if weather_data %}
      <div class="weather-box">
        <h2>{{ weather_data.city }}</h2>
        <img src="{{ url_for('static', filename=weather_data.icon+'.png') }}" alt="{{ weather_data.description }}">
        <p>{{ weather_data.temperature }}&deg;C</p>
        <p>{{ weather_data.description }}</p>
      </div>
    {% endif %}

    {% if city and not weather_data %}
      <p>Weather information for "{{ city }}" not found.</p>
    {% endif %}
  </div>
</body>
</html>
